<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Firt Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Email</th>

    </tr>
    <tr th:each="u : ${user}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.firstName}"></td>
        <td th:text="${u.lastName}"></td>
        <td th:text="${u.phoneNumber}"></td>
        <td th:text="${u.age}"></td>
        <td th:text="${u.email}"></td>
    </tr>
</table>

<a th:href="@{/viewUser}">Add new User</a>
</body>
</html>