<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--    <link rel="stylesheet" href="css/styleAdd.css">-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="/layout/nabar::navbar"></div>
<div class="container-fluid">

    <div class="row">

        <div class="col-2" th:replace="/layout/body::menu1">
        </div>
        <div class="col-10">
            <div class="container">
                <div class=" text-center mt-5 ">
                    <h1>THÊM MỚI NHÂN VIÊN</h1>
                </div>
                <div class="row ">
                    <div class="content_01">
                        <div class="col-lg-7 mx-auto" style="width: 100%">
                            <div class="card mt-2 mx-auto p-4 bg-light">
                                <div class="card-body bg-light">
                                    <div class="container">
                                        <form id="contact-form" role="form" method="post" action="/employee/addEmployee"
                                              th:object="${employeeDto}">
                                            <div class="controls">
                                                <div class="row">
                                                    <input type="hidden" th:field="*{flagDeleteEmployee}">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="employeeName">Name *</label>
                                                            <input id="employeeName" type="text" th:field="*{employeeName}"
                                                                   class="form-control"
                                                                   placeholder="Please enter your Name *"
                                                                   required="required">
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('employeeName')}"
                                                               th:errors="*{employeeName}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="employeeBirthday">Birthday
                                                            *</label> <input id="employeeBirthday" type="date"
                                                                            th:field="*{employeeBirthday}"
                                                                             class="form-control" required="required">
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('employeeBirthday')}"
                                                               th:errors="*{employeeBirthday}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="employeeIdCard">ID CARD *</label>
                                                            <input id="employeeIdCard" type="text"  th:field="*{employeeIdCard}"
                                                                   class="form-control"
                                                                   placeholder="Please enter your Id Card *"
                                                                   required="required">
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('employeeIdCard')}"
                                                               th:errors="*{employeeIdCard}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="employeeSalary">SALARY *</label>
                                                            <input id="employeeSalary" type="text"
                                                                   class="form-control" th:field="*{employeeSalary}"
                                                                   placeholder="Please enter your Salary *"
                                                                   required="required">
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('employeeSalary')}"
                                                               th:errors="*{employeeSalary}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="employeePhone">PHONE
                                                            *</label> <input id="employeePhone" type="text"
                                                                             th:field="*{employeePhone}"
                                                                              class="form-control"
                                                                             placeholder="Please enter your Phone *"
                                                                             required="required">
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('employeePhone')}"
                                                               th:errors="*{employeePhone}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="employeeEmail">Email *</label>
                                                            <input id="employeeEmail" type="email"
                                                                   class="form-control"   th:field="*{employeeEmail}"
                                                                   placeholder="Please enter your Email *"
                                                                   required="required">
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('employeeEmail')}"
                                                               th:errors="*{employeeEmail}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="employeeAdress">ADRESS
                                                            *</label> <input id="employeeAdress" type="text" th:field="*{employeeAdress}"
                                                                              class="form-control"
                                                                             placeholder="Please enter your Adress *"
                                                                             required="required">

                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('employeeAdress')}"
                                                               th:errors="*{employeeAdress}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="position">POSITION *</label>
                                                            <select id="position"  th:field="*{position}" class="form-control"
                                                                    required="required">
                                                                <option th:each="ps : ${position}"
                                                                        th:text="${ps.positionName}"
                                                                        th:value="${ps.positionId}">
                                                                </option>
                                                            </select>
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('position')}"
                                                               th:errors="*{position}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="educationDegree">EDUCATION
                                                            *</label>
                                                            <select id="educationDegree"  th:field="*{educationDegree}"
                                                                    class="form-control" required="required">
                                                                <option th:each="ed : ${eduction}"
                                                                        th:text="${ed.educationDegreeName}"
                                                                        th:value="${ed.educationDegreeID}"></option>
                                                            </select>
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('educationDegree')}"
                                                               th:errors="*{educationDegree}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="educationDegree">DIVISION
                                                            *</label>
                                                            <select id="division"  th:field="*{division}" class="form-control"
                                                                    required="required">
                                                                <option th:each="dv : ${division}"
                                                                        th:text="${dv.divisionName}"
                                                                        th:value="${dv.divisionId}"></option>
                                                            </select>
                                                            <p style="color: red"
                                                               th:if="${#fields.hasErrors('division')}"
                                                               th:errors="*{division}"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group"><label for="userName">User Name
                                                            *</label> <input id="userName" type="text"
                                                                             th:field="*{username}"
                                                                             class="form-control"
                                                                             required="required">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="passWord">PassWord *</label>
                                                            <input id="passWord" type="text"
                                                                   class="form-control"   th:field="*{password}"
                                                                   required="required">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12"><input type="submit"
                                                                              class="btn btn-success btn-send pt-2 btn-block "
                                                                              value="Submit"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- /.8 -->
                        </div> <!-- /.row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</html>